/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
/* table#service_table th, tr, td {
    text-align: center;
    border: 1px solid #fff;
} */
table.wc-item-table th {
    text-align: inherit !important;
}

/*toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider_toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider_toggle:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider_toggle {
    background-color: #2196F3;
  }
  
  input:focus + .slider_toggle {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider_toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider_toggle.round {
    border-radius: 34px;
  }
  
  .slider_toggle.round:before {
    border-radius: 50%;
  }
  input.paypay_fileld {
    width: 55%;
}
span.fa.fa-fw.fa-eye.field-icon.toggle-password {
    margin-left: -40px;
}
span.fa.fa-fw.field-icon.toggle-password.fa-eye-slash{
    margin-left: -40px;
}
/* #service_table th, td {
  border: 1px solid #f3ecec;
  padding: 10px;
  text-align: center;
}
#service_table tr{
  text-align: center;
} */
.service_date {
  padding-bottom: 25px;
}
.service_date {
  padding-bottom: 25px;
  display: flex;
  column-gap: 40px;
} 
.all_service_price {
  display: flex;
  padding-bottom: 25px;
  column-gap: 20px;
}
#ToBeApplied td{
  text-align: center;
  padding:23px;
  font-weight:bold;
  border: 1px solid #ddd;
}
#ToBeApplied tr{
  text-align: center;
}
/* #ToBeApplied th {
  font-style: italic;
  background-color: #ddd;
} */
.all_service_price label {
  font-size: 15px;
  font-weight: 400;
}
input#service_price_check_enable {
  margin: auto;
}

/* booking list */
p.order_status {
  background-color: #c6e1c6;
  width: 25%;
  padding: 7px;
  border-radius: 3px;
  color: green;
  text-align: center;
}
p.cod_order_status {
  background-color: #f8dda7;
  width: 25%;
  padding: 7px;
  border-radius: 3px;
  color: #94660c;
  text-align: center;
}